<%- Loader()
        .js('/m-festival/askForShare.js')
        .css("/m-festival/css/askForShare.css")
        .done(config) %>

<div id="m-festival-input">

    <div id="festival-introduce">

        <img src="../../../resource/logo.png">

        <div class="title"><%= festival.title %></div>

        <div class="horizontal-line"></div>

        <div class="field">
            <div class="fl color-gray">活动时间：</div>
            <div>4月20日 - 5月10日</div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动优惠：</div>
            <div>赠送现金券</div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动详情：</div>
            <div><%= festival.desc %></div>
        </div>

        <% if(expired){ %>

            <span>优惠券已经全部发完了，你下次动作要快一点</span>

        <% }else{ %>

            <div class="btn">
                <button id="btn_share">立即领取</button>
            </div>

        <% } %>

    </div>

    <div id="share_tips">
        <img src="../../../resource/guide-arrows.png">
        <div>分享到朋友圈</div>
    </div>

    <div id="hidden_area">
        <div id="enterprise_id" style="display: none"><%= enterprise_id %></div>
        <div id="festival_id" style="display: none"><%= festival.id %></div>
    </div>

</div>

