<%- Loader()
        .js('/m-festival/askForShare.js')
        .css("/m-festival/css/askForShare.css")
        .done(config) %>

<div id="m-festival-share">

    <div id="festival-introduce">

        <% if(festival.pic_url){ %>
            <img src="/svc/public/wechat/<%= enterprise_id %>/<%= festival.pic_url %>">
        <% }else{ %>
            <img src="../../../resource/haibao.jpg">
        <% } %>

        <div class="title">
            <img src="../../../resource/star.png">
            <span><%= festival.title %></span>
        </div>

        <div class="field">
            <div class="fl color-gray">活动时间：</div>
            <div style="padding-left: 5rem"><%= dateFormat(new Date(festival.begin_date), "MM月DD日")%> - <%= dateFormat(new Date(festival.end_date), "MM月DD日")%></div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动详情：</div>
            <div style="padding-left: 5rem"><%= festival.desc %></div>
        </div>

        <% if(duplicated){ %>

            <div class="btn">
                <button disabled>已领取</button>
            </div>

        <% }else if(!expired){ %>

            <div class="btn">
                <button id="btn_share" style="display: none">领取</button>
            </div>

        <% } %>

    </div>

    <% if(!duplicated && expired){ %>

    <div id="input-area">
        <img src="../../../resource/no_more_present.png">
        <div id="finish-msg">您来晚了一步，已经被领完啦！</div>
    </div>

    <% } %>

    <div id="empty-placeholder" class="placeholder"></div>

    <div id="share_tips" style="display: none">
        <img src="../../../resource/share_guide.png">
    </div>

    <div id="hidden_area" style="display: none">
        <div id="enterprise_id"><%= enterprise_id %></div>
        <div id="festival_id"><%= festival.id %></div>
        <div id="slogan"><%= festival.slogan %></div>
    </div>

</div>

<a id="back" class="back clear-fix">
    <span class="fs-20"><</span>看看其它
</a>
