<%- Loader()
        .js('/m-festival/askForShare.js')
        .css("/m-festival/css/askForShare.css")
        .done(config) %>

<div id="m-festival-share">

    <div id="festival-introduce">

        <img src="../../../resource/haibao.png">

        <div class="title"><%= festival.title %></div>

        <div class="field">
            <div class="fl color-gray">活动时间：</div>
            <div>4月20日 - 5月10日</div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动优惠：</div>
            <div>赠送现金券</div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动详情：</div>
            <div><%= festival.desc %></div>
        </div>

        <% if(!expired){ %>

            <div class="btn">
                <button id="btn_share">分享立即领取</button>
            </div>

        <% } %>

    </div>

    <% if(expired){ %>

    <div id="input-area">
        <img src="../../../resource/zepto.jpg">
        <div id="finish-msg">您来晚了一步，已经被领完啦！</div>
    </div>

    <% } %>

    <div id="share_tips">
        <img src="../../../resource/guide-arrows.png">
        <div>分享到朋友圈</div>
    </div>

    <div id="hidden_area" style="display: none">
        <div id="enterprise_id"><%= enterprise_id %></div>
        <div id="festival_id"><%= festival.id %></div>
    </div>

</div>

<a id="back" class="back clear-fix">
    <span class="fs-20"><</span>看看其它
</a>
