<% if(env === "dev"){ %>

<%- Loader()
        .css("/m-festival/static/css/festivals.css")
        .js("/m-festival/static/festivals.js")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/m-festival/festivals.min.js')
        .css("/m-festival/css/festivals.min.css")
        .done(config) %>

<% } %>

<div id="m-festival">

    <% if(festivals.length === 0){ %>

    <div id="empty-list-image">
        <img src="/resource/no_festivals.png">
    </div>

    <div id="empty-list-msg">店家最近暂时没安排优惠活动</div>

    <% }else{ %>

    <ul id="festival-list">

        <% for(var i = 0; i < festivals.length; i++) { %>

        <li class="festival-item">

            <div class="item-header">
                <div class="title"><%= festivals[i].title %></div>
            </div>

            <% if(festivals[i].pic_url){ %>

                <div class="img" style="background: url('/svc/public/wechat/<%= enterprise_id %>/<%= festivals[i].pic_url %>') no-repeat;">
                </div>

            <% }else{ %>

                <div class="img" style="background: url('/svc/public/wechat/festivals_default.png') no-repeat;">
                </div>

            <% } %>

            <div class="item-desc"><%= festivals[i].description %></div>

            <span style="display: none"><%= festivals[i].id %></span>

        </li>

        <% } %>

    </ul>

    <% } %>

</div>

