<% if(env === "dev"){ %>

<%- Loader()
        .js('/m-festival/static/input.js')
        .css("/m-festival/static/css/input.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/m-festival/input.min.js')
        .css("/m-festival/css/input.min.css")
        .done(config) %>

<% } %>

<div id="m-festival-input">

    <div id="festival-introduce">

        <% if(festival.pic_url){ %>
        <div class="img" style="background: url('/svc/public/wechat/<%= enterprise_id %>/<%= festival.pic_url %>') no-repeat">
        <% }else{ %>
        <div class="img" style="background: url('/svc/public/wechat/festivals_default.png') no-repeat">
        <% } %>

            <div class="title">
                <img src="/resource/star.png">
                <span id="f_title"><%= festival.title %></span>
            </div>

        </div>

        <div class="field">
            <div class="fl color-gray">活动时间：</div>
            <div style="padding-left: 5rem"><%= dateFormat(new Date(festival.begin_date), "MM月DD日")%> - <%= dateFormat(new Date(festival.end_date), "MM月DD日")%></div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动详情：</div>
            <div id="f_desc" style="padding-left: 5rem"><%= festival.description %></div>
        </div>

    </div>

    <div id="input-area">

        <% if(expired){ %>

            <img src="/resource/no_more_present.png">
            <div id="finish-msg">来晚了一步，已经被领完啦！</div>

        <% }else{ %>

            <div id="input-tips">
                <img src="/resource/input_icon.png">
                <span>到店使用需通过手机号验证</span>
            </div>

            <form id="present_form">

                <div class="input">
                    <input id="input_phone" type="tel" name="phone" placeholder="输入手机号立刻领取">
                </div>

                <div class="btn">
                    <button id="btn_get" type="submit" disabled>领取</button>
                    <span id="onMenuShareTimeline"></span>
                    <span id="onMenuShareAppMessage"></span>
                </div>
            </form>

        <% } %>
    </div>

    <div class="store">
        <div class="store-img" style="background: url('<%= store.logUrl %>') no-repeat"></div>
        <div class="store-name mh-20"><%= store.name %></div>

        <div>
            <div class="fl color-gray">电话：</div>
            <div class="mh-20"><%= store.phone %></div>
        </div>
        <div>
            <div class="fl color-gray">营业时间：</div>
            <div class="mh-20"><%= store.workHour %></div>
        </div>

        <div class="clear-fix mt-2">
            <div class="fl color-gray">店铺地址：</div>
            <div style="padding-left:5em;" class="mh-20"><%= store.addr %></div>
        </div>
        <div>
            <div class="fl color-gray">营业项目：</div>
            <div style="padding-left:5em;" class="mh-20"><%= store.operateStr %></div>
        </div>
        <div class="mb-0">
            <div class="fl color-gray">简介：</div>
            <div style="padding-left:3em;" class="mh-20"><%= store.comment %></div>
        </div>
    </div>

    <div id="hidden_area">
        <div id="enterprise_id"><%= enterprise_id %></div>
        <div id="festival_id"><%= festival.id %></div>
        <div id="app_id"><%= app_id %></div>
    </div>

</div>

<a id="back" class="back clear-fix fixed-bottom0">看看其它</a>