<%- Loader()
        .js('/m-festival/input.js')
        .css("/m-festival/css/input.css")
        .done(config) %>

<div id="m-festival-input">

    <div id="festival-introduce">

        <img src="../../../resource/news2.png">

        <div class="title"><%= festival.title %></div>

        <div class="field">
            <div class="fl color-gray">活动时间：</div>
            <div style="padding-left: 5rem">4月20日 - 5月10日</div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动优惠：</div>
            <div style="padding-left: 5rem">赠送现金券</div>
        </div>

        <div class="field">
            <div class="fl color-gray">活动详情：</div>
            <div style="padding-left: 5rem"><%= festival.desc %></div>
        </div>

    </div>

    <div id="input-area">

        <% if(expired){ %>

            <img src="../../../resource/zepto.jpg">
            <div id="finish-msg">您来晚了一步，已经被领完啦！</div>

        <% }else{ %>

            <div id="input-tips">
                小贴士：到店使用需通过手机号验证
            </div>

            <form>

                <div class="input">
                    <input id="input_phone" type="tel" name="phone" placeholder="输入手机号立刻领取">
                </div>

                <div class="btn">
                    <button id="btn_submit" type="button">领取</button>
                </div>
            </form>

        <% } %>

    </div>

    <div id="hidden_area">
        <div id="enterprise_id" style="display: none"><%= enterprise_id %></div>
        <div id="festival_id" style="display: none"><%= festival.id %></div>
    </div>

</div>

<a id="back" class="back clear-fix">
    <span class="fs-20"><</span>看看其它
</a>
