<% if(env === "dev"){ %>

<%- Loader()
        .js("/m-item/itemDetail.js")
        .css("/m-item/css/itemDetail.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/m-item/itemDetail.min.js')
        .css("/m-item/css/itemDetail.min.css")
        .done(config) %>

<% } %>

<div id="item-detail">
    <div class="img">
        <img src="<%= item.imgPath %>" />
    </div>

    <div class="name-price">
        <div class="fr color-red">￥<%= Number(item.price).toFixed(1) %></div>
        <div><%= item.name %></div>
    </div>

    <div class="comment">

        <div class="fl color-gray">描述：</div>

        <div style="padding-left:42px;">
            <% if(item.comment){ %>
            <%= item.comment %>
            <% }else{ %>
            暂无描述
            <% } %>
        </div>
    </div>
</div>

<a id="back" class="back">返回服务列表</a>