<% if(env === "dev"){ %>

<%- Loader()
        .js("/m-item/static/itemDetail.js")
        .css("/m-item/static/css/itemDetail.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/m-item/itemDetail.min.js')
        .css("/m-item/css/itemDetail.min.css")
        .done(config) %>

<% } %>

<div id="item-detail">
    <div class="img" style="background: url('<%= item.imgPath %>') no-repeat">

    </div>

    <div class="name-price">
        <div class="fr color-red">￥<%= Number(item.price).toFixed(1) %></div>
        <div><%= item.name %></div>
    </div>

    <div class="comment">
        <div class="fl color-gray">描述：</div>
        <div style="padding-left:42px;"><%= item.comment %></div>
    </div>
</div>

<a id="back" class="back clear-fix">返回服务列表</a>