<%- Loader().js("/m-item/item.js").css("/m-item/css/item.css").done(config) %>

<div id="m-item">
    <ul class="item-list">
        <% for(var i = 0; i < shelveList.length; i++) { %>
        <li>
            <a href="/svc/wsite/<%= enterprise_id %>/itemDetail/<%= shelveList[i].itemId %>">
                <div class="item-img" style="background: url('<%= shelveList[i].imgPath %>') no-repeat">
                </div>

                <div><%= shelveList[i].name %></div>
                <div class="color-red">￥<%= Number(shelveList[i].price).toFixed(1) %></div>
            </a>
        </li>
        <% } %>
    </ul>
    <div class="more-item">更多精品服务欢迎到店体验</div>
</div>
