<%- Loader().css("/m-item/css/item.css").done(config) %>

<div id="item-detail">
    <div class="img" style="background: url('<%= item.imgPath %>') no-repeat">

    </div>

    <div class="name-price">
        <div class="fr color-red">￥<%= Number(item.price).toFixed(1) %></div>
        <div><%= item.name %></div>
    </div>

    <div class="comment">
        <div class="fl color-gray">描述：</div>
        <div class="pl-5"><%= item.comment %></div>
    </div>
</div>

<a id="back" class="back clear-fix">
    <span class="fs-20"><</span>返回
</a>

<script>
    $(function () {
        $("#back").on("click", function ($even) {
            window.history.back();
            $even.stopPropagation();
        });

        $("#item-detail").height($(window).height() - $("#back").height());
    });
</script>