<% if(env === "dev"){ %>

<%- Loader()
        .js("/m-shop/static/shop.js")
        .js("http://api.map.baidu.com/api?type=quick&ak=077cf00d4471f3852b96fba32ff879fd&v=1.0")
        .css("/m-shop/static/css/shop.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js("/m-shop/shop.min.js")
        .js("http://api.map.baidu.com/api?type=quick&ak=077cf00d4471f3852b96fba32ff879fd&v=1.0")
        .css("/m-shop/css/shop.min.css")
        .done(config) %>

<% } %>

<div id="m-shop">

    <div class="home-img">

        <div class="img" style="background:url('<%= store.picUrl %>') no-repeat">
        </div>

        <img src="<%= store.logUrl %>">

        <div class="store-name"><%= store.name %></div>
    </div>

    <div class="store">

        <div id="base_info">

            <div id="fields">

                <div class="field">
                    <div class="field_key">营业时间：</div>
                    <div class="field_value"><%= store.workHour %></div>
                </div>

                <div class="field">
                    <div class="field_key">电话：</div>
                    <div class="field_value"><%= store.phone %></div>
                </div>

                <div class="field">
                    <div class="field_key">主营：</div>
                    <div class="field_value"><%= store.operateStr %></div>
                </div>

            </div>

            <div id="call_icon">
                <a href="tel:<%= store.phone %>"><img src="/resource/call_icon.png"></a>
            </div>

        </div>

        <div id="store_address">
            <span class="addr_label">店铺地址：</span>
            <span class="addr_value"><%= store.addr %></span>
            <img src="/resource/arrow_down.png">
        </div>

    </div>

    <div id="mapDiv" style="display: none">

        <div id="hidden_area">
            <div id="store_addr"><%= store.addr %></div>
        </div>

        <div id="enterpriseMap" style="height: 150px;"></div>

    </div>

    <% if(festivals.length > 0){ %>

    <div class="preferential">

        <div id="pre_title" class="mb-1 lh-2">
            <div class="fr item-more">
                <a href="/svc/wsite/<%= enterprise_id %>/festival">更多</a>
            </div>
            <div>优惠活动</div>
        </div>

        <ul class="preferential-list">

            <% festivals.forEach(function (item) { %>

            <li onclick="location.href='/svc/wsite/<%= enterprise_id %>/route?fid=<%= item.id %>'">

                <div class="pre-img" style="background-image: url('<%= item.pic_url %>');">
                </div>

                <div class="pre-name"><%= item.title %></div>

                <div class="pre-desc"><%= item.short_desc %></div>

            </li>

            <% }); %>

        </ul>
    </div>

    <% } %>

    <% if(hotList.length !== 0){ %>
    <div class="item">
        <div class="mb-1 lh-2">
            <div class="fr item-more">
                <a class="" href="/svc/wsite/<%= enterprise_id %>/item">更多</a>
            </div>
            <div>特色项目</div>
        </div>

        <ul class="item-list ofh">
            <% for(var i = 0; i < hotList.length; i++) { %>
            <li>
                <a href="/svc/wsite/<%= enterprise_id %>/itemDetail/<%= hotList[i].itemId %>">
                    <div class="item-img" style="background: url('<%= hotList[i].imgPath %>') no-repeat">
                    </div>

                    <div><%= hotList[i].name %></div>
                    <div class="item-comment"><%= hotList[i].comment %></div>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <% } %>

</div>