<%- Loader().js("/m-shop/shop.js").css("/m-shop/css/shop.css").done(config) %>

<div id="m-shop">
    <div class="home-img">
        <div class="img" style="background:url('<%= store.picUrl %>') no-repeat">
        </div>
        <div class="store-name"><%= store.name %></div>
    </div>

    <% if(festivals.length > 0){ %>
    <div class="preferential">
        <div class="mb-1 lh-2">
            <div class="fr item-more">
                <a class="" href="/svc/wsite/<%= enterprise_id %>/festival">更多</a>
            </div>
            <div>优惠活动</div>
        </div>

        <ul class="preferential-list">
            <% festivals.forEach(function (item) { %>
            <li onclick="location.href='/svc/wsite/<%= enterprise_id %>/getPresent?fid=<%= item.id %>'">
                <div style="background: url('<%= item.pic_url %>') no-repeat;">
                </div>
                <div>
                    <span class="inline-block vm"><%= omittedContent(item.desc, 40) %></span><span
                            class="desc-vm-help"></span>
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(hotList.length !== 0){ %>
    <div class="item">
        <div class="mb-1 lh-2">
            <div class="fr item-more">
                <a class="" href="/svc/wsite/<%= enterprise_id %>/item">更多</a>
            </div>
            <div>特色项目</div>
        </div>

        <ul class="item-list ofh">
            <% for(var i = 0; i < hotList.length; i++) { %>
            <li>
                <a href="/svc/wsite/<%= enterprise_id %>/itemDetail/<%= hotList[i].itemId %>">
                    <div class="item-img" style="background: url('<%= hotList[i].imgPath %>') no-repeat">
                    </div>

                    <div><%= hotList[i].name %></div>
                    <div class="item-comment"><%= hotList[i].comment %></div>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <% } %>

    <div class="store">
        <div class="store-img" style="background: url('<%= store.logUrl %>') no-repeat"></div>
        <div class="store-name"><%= store.name %></div>

        <div>
            <div class="fl color-gray">电话：</div>
            <div><%= store.phone %></div>
        </div>
        <div>
            <div class="fl color-gray">营业时间：</div>
            <div><%= store.workHour %></div>
        </div>

        <div class="clear-fix mt-2">
            <div class="fl color-gray">店铺地址：</div>
            <div style="padding-left:5em;"><%= store.addr %></div>
        </div>
        <div>
            <div class="fl color-gray">营业项目：</div>
            <div style="padding-left:5em;"><%= store.operateStr %></div>
        </div>
        <div>
            <div class="fl color-gray">简介：</div>
            <div style="padding-left:3em;"><%= store.comment %></div>
        </div>
    </div>
</div>
