<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="Shortcut Icon" href="http://img1.yilos.com/portal/nail/imgs/logo.png">
    <script src="/svc/portal/setting"></script>
</head>

<!-- 共用的资源 -->
<% if(env === "dev"){ %>

<%- Loader()
        .js("/3rd-lib/WeixinApi.js")
        .js("/3rd-lib/zepto.min.js")
        .js("/resource/wechat_global.js")
        .css("/resource/css/base.css")
        .css("/member-binding/static/css/input_phone.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js("/3rd-lib/wechat-global.min.js")
        .css("/resource/css/wechat.min.css")
        .css("/member-binding/css/input_phone.min.css")
        .done(config) %>

<% } %>

<!-- 场景特有的资源 -->
<% if(type === "single_binding"){ %>

<% if(env === "dev"){ %>

<%- Loader()
        .js('/member-binding/static/binding.js')
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/member-binding/binding.min.js')
        .done(config) %>

<% } %>

<% }else if(type === "multi_binding"){ %>

<% if(env === "dev"){ %>

<%- Loader()
        .js('/member-binding/static/multiBinding.js')
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/member-binding/multiBinding.min.js')
        .done(config) %>

<% } %>

<% }else{ %>

<% if(env === "dev"){ %>

<%- Loader()
        .js('/light-entrance/static/lightEntrance.js')
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/light-entrance/lightEntrance.min.js')
        .done(config) %>

<% } %>

<% } %>

<body>

<div id="m-binding">

    <div class="form-area">

        <div class="h-4 lh-4 text-center border-bottom">
            <% if(type === "entrance"){ %>
            登录
            <% }else{ %>
            绑定
            <% } %>
        </div>

        <form class="width-full">

            <div class="none">
                <span id="open_id"><%= open_id %></span>
                <span id="enterprise_id"><%= enterprise_id %></span>
            </div>

            <div class="input_phone">
                <input type="tel" id="phone" placeholder="输入手机号">
            </div>

            <div class="input_code">
                <input type="text" id="code" placeholder="输入验证码">
            </div>

            <div class="btn_code">
                <button type="button" id="getSecurityCode">获取验证码</button>
            </div>

            <div class="btn_binding">
                <button type="button" id="btn_binding">
                    <% if(type === "entrance"){ %>
                    登录
                    <% }else{ %>
                    绑定
                    <% } %>
                </button>
            </div>

            <% if(type === "entrance"){ %>
            <div class="message">
                使用店内会员手机号码登录，享受店铺的服务。<br><br>
                体验流程：<br><br>
                1、输入手机号：15818740439，点击获取验证码<br>
                2、输入验证码：888888<br>
                3、点击登录，马上体验<br>
            </div>
            <% } %>

            <div id="binding_success_tip" class="none">
                <% if(type === "entrance"){ %>
                登录成功，即将为您跳转
                <% }else{ %>
                绑定成功，即将为您跳转
                <% } %>
            </div>

        </form>
    </div>
</div>

</body>

</html>