<% if(env === "dev"){ %>

<%- Loader()
        .css("/m-member/static/css/member.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .css("/m-member/css/member.min.css")
        .done(config) %>

<% } %>

<div id="m-member">

    <% if(memberInfo.cards.length !== 0){ %>

    <div class="item card">

        <div class="title">
            <img src="/resource/member_card.png">
            <span>会员卡</span>
        </div>

        <ul class="list">

            <% memberInfo.cards.forEach(function(card){ %>

            <li>
                <div class="card_shape">

                    <div class="top_half">
                        <span class="card_name"><%= card.name %></span>
                        <span class="card_no"><%= card.cardNo %></span>
                    </div>

                    <div class="bottom_half">

                        <div class="money">

                        <% if(card.type === "recharge"){ %>

                            <span>余额：</span>
                            <span class="remaining">￥<%= Number(card.currentMoney).toFixed(1) %></span>

                        <% } else if(card.type === "recordTimeCard") { %>

                            <span>余次：</span>
                            <span class="remaining"><%= Number(card.remainingTimes).toFixed(0) %>次</span>

                        <% } %>

                        </div>

                        <div class="expired_time">
                            有效期至：<%= card.expired_time %>
                        </div>

                    </div>

                </div>

            </li>

            <% }); %>
        </ul>
    </div>

    <% } %>

    <% if(memberInfo.coupons.length !== 0) { %>

    <div class="item coupon">

        <div class="title">
            <img src="/resource/member_coupon.png">
            <span>现金券</span>
        </div>

        <ul class="list">
            <% memberInfo.coupons.forEach(function(coupon){ %>
            <li>

                <div class="card_shape">

                    <div class="top_half">
                        <span class="card_name"><%= coupon.name %></span>
                    </div>

                    <div class="bottom_half">

                        <div class="money">
                            <span>面值：</span>
                            <span class="remaining">￥<%= coupon.money %></span>
                        </div>

                        <% if(coupon.expired_time){ %>
                        <div class="expired_time">
                            有效期至：<%= coupon.expired_time %>
                        </div>
                        <% } %>

                    </div>

                </div>
            </li>
            <% }); %>
        </ul>
    </div>

    <% } %>

    <% if(memberInfo.services.length !== 0) { %>

    <div class="item present">

        <div class="title">
            <img src="/resource/member_service.png">
            <span>赠送服务</span>
        </div>

        <ul class="list">
            <% memberInfo.services.forEach(function(service){ %>
            <li>
                <span style="color: #434040;"><%= service.serviceName %></span>
                <% if(service.expired_time){ %>
                <span class="color-gray fr">有效期至：<%= service.expired_time %></span>
                <% } %>
            </li>
            <% }); %>
        </ul>
    </div>

    <% } %>

    <% if(memberInfo.deposits.length !== 0) { %>

    <div class="item deposit">

        <div class="title">
            <img src="/resource/member_deposit.png">
            <span>寄存品</span>
        </div>

        <ul class="list">
            <% memberInfo.deposits.forEach(function(deposit){ %>
            <li>
                <span style="color: #434040;"><%= deposit.entityName %></span>

                <div class="fr used_count">
                    <span>累计使用：</span>
                    <span class="used_total"><%= Number(deposit.numberofuse).toFixed(0) %>次</span>
                </div>
            </li>
            <% }); %>
        </ul>
    </div>

    <% } %>

    <% if(memberInfo.bill.length !== 0) { %>

    <div class="item bill">

        <div class="title">
            <img src="/resource/member_bill.png">
            <span>最近5次消费</span>
        </div>

        <ul class="list">

        <% memberInfo.bill.forEach(function(item){ %>

            <li>
                <div class="bill_item">

                    <div class="bill_time">
                        <img src="/resource/clock.png">
                        <span><%= dateFormat(item.date, "YYYY年MM月DD日") %></span>
                    </div>

                    <div class="bill_field">
                        <span class="bill_key color-gray">项目名称：</span>
                        <span class="bill_value"><%= item.items %></span>
                    </div>

                    <div class="bill_field">
                        <span class="bill_key color-gray">服务员工：</span>
                        <span class="bill_value"><%= item.employees %></span>
                    </div>

                    <div class="bill_field">
                        <span class="bill_key color-gray">消费金额：</span>
                        <span class="bill_value">￥<%= (item.amount || 0 == item.amount) ? item.amount.toFixed(1) : 0.0 %></span>
                    </div>
                </div>
            </li>
        <% }); %>

        </ul>

    </div>
    <% } %>
</div>