<%- Loader()
        .js('/m-member/member.js')
        .css("/m-member/css/member.css")
        .done(config) %>

<div id="m-member">
    <% if(memberInfo.cards.length !== 0){ %>
    <div class="item card">
        <div class="title">我的会员卡</div>

        <ul class="list">
            <% memberInfo.cards.forEach(function(card){ %>
            <li>
                <span><%= card.name %></span>
                <span class="color-gray">(<%= card.cardNo %>)</span>

                <span class="fr">
                    <% if(card.type === "recharge"){ %>

                    截止至<%= card.currentConsumeDate %>，余额：￥<%= Number(card.currentMoney).toFixed(1) %>

                    <% } else if(card.type === "recordTimeCard") { %>

                    截止至<%= card.currentConsumeDate %>，余次：<%= Number(card.remainingTimes).toFixed(0) %>次

                    <% } else if(card.type === "quarter") { %>

                    <span class="color-gray">有效期至：<%= card.expired_time %></span>

                    <% } %>
                </span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(memberInfo.deposits.length !== 0) { %>
    <div class="item deposit">
        <div class="title">我的寄存品</div>
        <ul class="list">
            <% memberInfo.deposits.forEach(function(deposit){ %>
            <li>
                <span><%= deposit.entityName %></span>
                <span class="fr">累计使用：<%= Number(deposit.numberofuse).toFixed(0) %>次</span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(memberInfo.coupons.length !== 0) { %>
    <div class="item coupon">
        <div class="title">我的现金券</div>

        <ul class="list">
            <% memberInfo.coupons.forEach(function(coupon){ %>
            <li>
                <span><%= coupon.name %></span>
                <span class="fr color-gray">有效期至：<%= coupon.expired_time %></span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(memberInfo.services.length !== 0) { %>
    <div class="item present">
        <div class="title">我的赠送服务</div>

        <ul class="list">
            <% memberInfo.services.forEach(function(service){ %>
            <li>
                <span><%= service.serviceName %></span>
                <span class="fr color-gray">有效期至：<%= service.expired_time %></span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(memberInfo.bill.length !== 0) { %>
    <div class="item present">
        <div class="title">我的消费</div>
        <% memberInfo.bill.forEach(function(item){ %>
        <div class="panel">
            <div class="panel-head vm">
                <img src="/resource/time.png" style="height: 20px;"/>
                <span style="margin-left: 10px;"><%= dateFormat(item.date, "YYYY年MM月") %></span>
                <span style="height: inherit;line-height: inherit;float: right;margin-right: 10px;">
                <img src="/resource/expand.png" style="height: 15px;"/>
                </span>
            </div>
            <div class="panel-body">
                <div class="bill-items">
                    <% item.records.forEach(function(record){ %>
                    <div class="bill-item">
                        <div><label><%= record.createDay %>日</label></div>
                        <div><label>项目名称：</label><span><%= record.items %></span></div>
                        <div><label>服务员工：</label><span><%= record.employees %></span></div>
                        <div><label>消费金额：</label><span><%= record.amount %></span></div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>