<% if(env === "dev"){ %>

<%- Loader()
        .js('/m-member/static/member.js')
        .css("/m-member/static/css/member.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/m-member/member.min.js')
        .css("/m-member/css/member.min.css")
        .done(config) %>

<% } %>

<div id="m-member">

    <% if(memberInfo.cards.length !== 0){ %>

    <div class="item card">

        <div class="title">
            <img class="header_logo" src="/resource/member_card.png">
            <span>会员卡</span>
            <img class="header_tips" src="/resource/arrow_up.png">
        </div>

        <ul class="list">
            <% memberInfo.cards.forEach(function(card){ %>
            <li>

                <div class="card_shape">

                    <div class="top_half">
                        <span class="card_name">金卡</span>
                        <span class="card_no">JK679790</span>
                    </div>

                    <div class="bottom_half">

                        <div class="money">
                            <span>余额：</span>
                            <span class="remaining">￥500</span>
                        </div>

                        <div class="expired_time">
                            有效期至：2018.09.12
                        </div>

                    </div>

                </div>

            </li>
            <% }); %>
        </ul>
    </div>

    <% } %>

    <% if(memberInfo.coupons.length !== 0) { %>

    <div class="item coupon">

        <div class="title">
            <img class="header_logo" src="/resource/member_coupon.png">
            <span>现金券</span>
            <img class="header_tips" src="/resource/arrow_up.png">
        </div>

        <ul class="list">
            <% memberInfo.coupons.forEach(function(coupon){ %>
            <li>

                <div class="card_shape">

                    <div class="top_half">
                        <span class="card_name">国庆促销大优惠</span>
                    </div>

                    <div class="bottom_half">

                        <div class="money">
                            <span>面值：</span>
                            <span class="remaining">￥100</span>
                        </div>

                        <div class="expired_time">
                            使用时间：2014.09.12 - 2014.10.12
                        </div>

                    </div>

                </div>
            </li>
            <% }); %>
        </ul>
    </div>

    <% } %>

    <% if(memberInfo.services.length !== 0) { %>

    <div class="item present">

        <div class="title">
            <img class="header_logo" src="/resource/member_service.png">
            <span>赠送服务</span>
            <img class="header_tips" src="/resource/arrow_up.png">
        </div>

        <ul class="list">
            <% memberInfo.services.forEach(function(service){ %>
            <li>
                <span><%= service.serviceName %></span>
                <% if(service.expired_time){ %>
                <span class="fr color-gray">有效期至：<%= service.expired_time %></span>
                <% } %>
            </li>
            <% }); %>
        </ul>
    </div>

    <% } %>

    <% if(memberInfo.deposits.length !== 0) { %>

    <div class="item deposit">

        <div class="title">
            <img class="header_logo" src="/resource/member_deposit.png">
            <span>寄存品</span>
            <img class="header_tips" src="/resource/arrow_up.png">
        </div>

        <ul class="list">
            <% memberInfo.deposits.forEach(function(deposit){ %>
            <li>
                <span><%= deposit.entityName %></span>
                <span class="fr">累计使用：<%= Number(deposit.numberofuse).toFixed(0) %>次</span>
            </li>
            <% }); %>
        </ul>
    </div>
    
    <% } %>

    <% if(memberInfo.bill.length !== 0) { %>
    <div class="item present">
        <div class="title">我的消费</div>
        <% memberInfo.bill.forEach(function(item){ %>
        <div class="panel">
            <div class="panel-head vm">
                <img src="/resource/time.png" style="height: 20px;"/>
                <span style="margin-left: 10px;"><%= dateFormat(item.date, "YYYY年MM月") %></span>
                <span style="height: inherit;line-height: inherit;float: right;margin-right: 10px;">
                <img src="/resource/expand.png" style="height: 15px;"/>
                </span>
            </div>
            <div class="panel-body">
                <div class="bill-items">
                    <% item.records.forEach(function(record){ %>
                    <div class="bill-item">
                        <div><label><%= record.createDay %>日</label></div>
                        <div>
                            <div class="fl">项目名称：</div>
                            <div style="padding-left: 5rem"><%= record.items %></div>
                        </div>
                        <div>
                            <div class="fl">服务员工：</div>
                            <div style="padding-left: 5rem"><%= record.employees %></div>
                        </div>
                        <div>
                            <label>消费金额：</label><span>￥<%= (record.amount || 0 == record.amount) ? record.amount.toFixed(1) : 0.0 %></span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>