<%- Loader()
        .js('/m-member/member.js')
        .css("/m-member/css/member.css")
        .done(config) %>

<div id="m-member">
    <% if(memberInfo.cards.length !== 0){ %>
    <div class="item card">
        <div class="title">我的会员卡</div>

        <ul class="list">
            <% memberInfo.cards.forEach(function(card){ %>
            <li>
                <span><%= card.name %></span>
                <span class="color-gray">(<%= card.card_id %>)</span>
                <span class="fr">截止至<%= card.validity %>，余额：￥<%= Number(card.current_money).toFixed(1) %></span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(memberInfo.deposits.length !== 0) { %>
    <div class="item deposit">
        <div class="title">我的寄存品</div>
        <ul class="list">
            <% memberInfo.deposits.forEach(function(deposit){ %>
            <li>
                <span><%= deposit.name %></span>
                <span class="fr">累计使用：<%= deposit.times %>次</span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(memberInfo.coupons.length !== 0) { %>
    <div class="item coupon">
        <div class="title">我的现金券</div>

        <ul class="list">
            <% memberInfo.coupons.forEach(function(coupon){ %>
            <li>
                <span><%= coupon.name %></span>
                <span class="fr color-gray">有效期至：<%= coupon.validity %></span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <% if(memberInfo.services.length !== 0) { %>
    <div class="item present">
        <div class="title">我的赠送服务</div>

        <ul class="list">
            <% memberInfo.services.forEach(function(service){ %>
            <li>
                <span><%= service.name %></span>
                <span class="fr color-gray">有效期至：<%= service.validity %></span>
            </li>
            <% }); %>
        </ul>
    </div>
    <% } %>
</div>