<% if(env === "dev"){ %>

<%- Loader()
        .css("/m-member/static/css/member.css")
        .js("/m-member/static/member.js")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .css("/m-member/css/member.min.css")
        .js("/m-member/member.min.js")
        .done(config) %>

<% } %>

<div id="m-member">

<div id="header">

    <img src="/resource/member_card_background.png">

    <div><%= memberInfo.name %></div>

</div>

<% if(memberInfo.cards.length !== 0 || memberInfo.coupons.length !== 0) { %>

<ul id="cards_area">

    <% memberInfo.cards.forEach(function(card){ %>

    <li>

        <% if(card.type === "recharge"){ %>

        <div class="card_shape card_recharge">

        <% }else if(card.type === "recordTimeCard") { %>

        <div class="card_shape card_record">

        <% } else{ %>

        <div class="card_shape card_time">

        <% } %>

            <div class="top_half">

                <span class="card_name"><%= card.name %></span>
                <div class="card_no">
                    <span><%= card.cardNo %></span>
                    <% if(card.type === "recordTimeCard"){ %>
                    <img class="btn_expand" src="/resource/card_arrow_down.png">
                    <% } %>
                </div>
            </div>

            <div class="bottom_half">

                <div class="card_info">

                    <% if(card.type === "recharge"){ %>

                        <span class="card_info_title">余额：</span>
                        <span class="card_info_value"><%= Number(card.currentMoney).toFixed(1) %></span>

                    <% } else if(card.type === "recordTimeCard"){ %>

                        <span class="card_info_title">剩余：</span>
                        <span class="card_info_value"><%= Number(card.remainingTimes).toFixed(0) %>次</span>

                    <% } else if(card.type === "quarter"){ %>

                        <span class="card_info_title">已使用：</span>
                        <span class="card_info_value"><%= Number(card.total_used).toFixed(0) %>次</span>

                    <% } %>

                </div>

                <span class="card_expired">有效期至 <%= card.expired_time %></span>

            </div>

            <% if(card.type === "recordTimeCard"){ %>

               <div class="bottom_half_expand">

                   <ul>

                       <% card.services.forEach(function(service){ %>

                       <li>
                           <span class="item_name"><%= service.name %></span>
                           <span class="item_count"><%= service.count %>次</span>
                       </li>

                       <% }); %>

                   </ul>

                   <div>
                       <span class="expand_expired">有效期至 <%= card.expired_time %></span>
                   </div>

               </div>

            <% } %>

        </div>

    </li>

    <% }); %>

    <% memberInfo.coupons.forEach(function(coupon){ %>

    <li>

        <div class="card_shape card_coupon">

            <div class="top_half">
                <span class="card_name"><%= coupon.name %></span>
            </div>

            <div class="bottom_half">

                <div class="card_info">
                    <span class="card_info_title">金额：</span>
                    <span class="card_info_value"><%= coupon.money %></span>
                </div>

                <% if(coupon.expired_time){ %>
                    <span class="card_expired">有效期至 <%= coupon.expired_time %></span>
                <% } %>
            </div>

        </div>

    </li>

    <% }); %>

</ul>

<% } %>

<% if(memberInfo.services.length !== 0) { %>

<div class="item present">

    <div class="title">
        <img src="/resource/member_service.png">
        <span>赠送服务</span>
    </div>

    <ul class="list">
        <% memberInfo.services.forEach(function(service){ %>
        <li>
            <span style="color: #434040;"><%= service.serviceName %></span>
            <% if(service.expired_time){ %>
            <span class="color-gray fr">有效期至：<%= service.expired_time %></span>
            <% } %>
        </li>
        <% }); %>
    </ul>
</div>

<% } %>

<% if(memberInfo.deposits.length !== 0) { %>

<div class="item deposit">

    <div class="title">
        <img src="/resource/member_deposit.png">
        <span>寄存品</span>
    </div>

    <ul class="list">
        <% memberInfo.deposits.forEach(function(deposit){ %>
        <li>
            <span style="color: #434040;"><%= deposit.entityName %></span>
            <span class="fr used_count">累计使用：<%= Number(deposit.numberofuse).toFixed(0) %>次</span>
        </li>
        <% }); %>
    </ul>
</div>

<% } %>

<% if(memberInfo.bill.length !== 0) { %>

<div class="item bill">

    <div class="title">
        <img src="/resource/member_bill.png">
        <span>最近消费</span>
    </div>

    <ul class="list">

        <% memberInfo.bill.forEach(function(item){ %>

        <li>
            <div class="bill_item">

                <div class="bill_time">
                    <img src="/resource/clock.png">
                    <span><%= dateFormat(item.date, "YYYY年MM月DD日") %></span>
                </div>

                <div class="bill_field">
                    <span class="bill_key color-gray">项目名称：</span>
                    <span class="bill_value"><%= item.items %></span>
                </div>

                <div class="bill_field">
                    <span class="bill_key color-gray">服务员工：</span>
                    <span class="bill_value"><%= item.employees %></span>
                </div>

                <div class="bill_field">
                    <span class="bill_key color-gray">消费金额：</span>
                    <span class="bill_value">￥<%= (item.amount || 0 == item.amount) ? item.amount.toFixed(1) : 0.0 %></span>
                </div>
            </div>
        </li>

        <% }); %>

    </ul>

</div>
<% } %>
</div>